/* My CSS */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  background: linear-gradient(170deg, #b2d3df, #7eb6b0);
  color: #141414;
}

div.main-button {
  height: 10rem;
  width: 15rem;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
div.main-button h1 {
  font-size: 3rem;
  text-align: center;
  color: #141414;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
.logo-anchor {
  position: relative;
  top: 10rem;
}
.doodledee-img {
  width: 3rem;
  border-radius: 50%;
}

/* Tablet CSS */
@media only screen and (max-width: 70em) {
  .logo-anchor {
    top: 18rem;
  }
}

/* Mobile CSS */
@media only screen and (max-width: 38em) {
  .logo-anchor {
    top: 9rem;
  }
}

/* Small Mobile CSS */
@media only screen and (max-width: 20em) {
  div.main-button {
    height: 7rem;
    width: 12rem;
    border-radius: 0.75rem;
  }
  div.main-button h1 {
    font-size: 2.25rem;
  }
  .title {
    font-size: 1.75rem;
  }
  .logo-anchor {
    top: 4rem;
  }
  .doodledee-img {
    width: 2.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  /* My CSS */
  body {
    background: linear-gradient(170deg, #152830, #1a6960);
    color: #f3f3f3;
  }

  div.main-button {
    background-color: rgb(169, 169, 169);
  }
  div.main-button h1 {
    color: #141414;
  }
}